<tr>
	<td>
		<a href="javascript:;" class="fa fa-move" title="按住鼠标左键，拖动调整顺序">
			<i class="fa fa-arrows"></i>
		</a>
	</td>
	<td>
		<div class="form-group" style="margin-bottom: 0">
			<div class="col-xs-12">
				<input name="param_id[]" type="hidden" class="form-control" placeholder=""/>
				<input name="param_name[]" type="text" class="form-control" placeholder=""/>
			</div>
		</div>
	</td>
	<td>
		<div class="form-group" style="margin-bottom: 0">
			<div class="col-xs-12">
				<input name="param_value[]" type="text" class="form-control" placeholder=""/>
			</div>
		</div>
	</td>
	<td>
		<a href="javascript:;" class="del_item_link" data-toggle="tooltip" onclick="delItem(this)" title="删除" data-id="{$new_id}">
			<i class='fa fa-remove'></i>
		</a>
	</td>
</tr>