{template 'header'}
{template 'common/shop-nav'}
<style>
	.star {
		color: red;
		margin-right: 5px;
		font-weight: bold;
	}
</style>
<ul class="nav nav-tabs">
	<li {if $act == 'apply'}class="active"{/if}><a href="{php echo $this->createWebUrl('finance', array('act' => 'apply'));}">提现管理</a></li>
	<li {if $act == 'stat'}class="active"{/if}><a href="{php echo $this->createWebUrl('finance', array('act' => 'stat'));}">商户结算</a></li>
	<li {if $act == 'balance'}class="active"{/if}><a href="{php echo $this->createWebUrl('finance', array('act' => 'balance'));}">商户钱包</a></li>
	<li {if $act == 'statement'}class="active"{/if}><a href="{php echo $this->createWebUrl('finance', array('act' => 'statement'));}">对账单下载</a></li>
	{if $act == 'post'}<li class="active"><a href="{php echo $this->createWebUrl('finance', array('act' => 'post'));}">编辑</a></li>{/if}
	{if $act == 'money_log'}<li class="active"><a href="{php echo $this->createWebUrl('finance', array('act' => 'money_log'));}">流水明细</a></li>{/if}
</ul>
{if $act == 'apply'}
<div class="main">
	<form action="" method="post">
		<div class="panel panel-default">
			<div class="table-responsive panel-body">
				<table class="table table-hover">
					<thead>
					<tr>
						<th width="150">申请日期</th>
						<th>商户名称</th>
						<th width="100">提现金额</th>
						<th width="100">服务费</th>
						<th width="100">到账金额</th>
						<th width="150">提现账户</th>
						<th width="80">状态</th>
						<th width="150">支付时间</th>
						<th width="150" class="text-right">操作</th>
					</tr>
					</thead>
					<tbody>
					{if $list}
					{loop $list $li}
					<tr>
						<td>{$li['createtime']}</td>
						<td>{$li['shop_title']}</td>
						<td>&yen;{$li['money']}</td>
						<td>&yen;{php echo SupermanUtil::float_format($li['service_fee']);}</td>
						<td>&yen;{php echo SupermanUtil::float_format($li['money'] - $li['service_fee']);}</td>
						<td>{php echo SupermanUtil::get_getcash_account_type_title($li['account_type'])}</td>
						<td>
							<span class="{php echo SupermanUtil::get_getcash_status_style($li['status'])}">
								{php echo SupermanUtil::get_getcash_status_title($li['status'])}
							</span>
						</td>
						<td>{$li['paytime']}</td>
						<td class="text-right" style="overflow:visible;">
							<div class="btn-group">
								<a href="{php echo $this->createWebUrl('finance', array('act' => 'post', 'id' => $li['id']));}" title="编辑" class="btn btn-default btn-sm"><i class="fa fa-edit"></i></a>
								<a href="{php echo $this->createWebUrl('finance', array('act' => 'delete', 'id' => $li['id']));}" onclick="return confirm('此操作不可恢复，确认吗？'); return false;" title="删除" class="btn btn-default btn-sm"><i class="fa fa-times"></i></a>
							</div>
						</td>
					</tr>
					{/loop}
					{/if}
					</tbody>
				</table>
			</div>
		</div>
		{$pager}
	</form>
</div>
{else if $act == 'post'}
<div class="main">
	<form class="form-horizontal form" action="" method="post" enctype="multipart/form-data">
		<input type="hidden" name="id" value="{$id}">
		<div class="panel panel-default">
			<div class="panel-heading">
				提现信息
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 control-label">商户名称</label>
					<div class="col-sm-6 col-md-8 col-xs-12">
						<input type="text" class="form-control" disabled="disabled" value="{$row['shop_title']}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 control-label">提现金额</label>
					<div class="col-sm-6 col-md-8 col-xs-12">
						<div class="input-group">
							<input type="text" class="form-control" disabled="disabled" value="{$row['money']}" name="money">
							<span class="input-group-addon">元</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 control-label">服务费</label>
					<div class="col-sm-6 col-md-8 col-xs-12">
						<div class="input-group">
							<input type="text" class="form-control" disabled="disabled" value="{php echo SupermanUtil::float_format($row['service_fee']);}" name="service_fee">
							<span class="input-group-addon">元</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 control-label">到账金额</label>
					<div class="col-sm-6 col-md-8 col-xs-12">
						<div class="input-group">
							<input type="text" class="form-control" disabled="disabled" value="{php echo SupermanUtil::float_format($row['money'] - $row['service_fee']);}" name="arrival_fee">
							<span class="input-group-addon">元</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">提现账号</label>
					<div class="col-sm-6 col-md-8 col-xs-12 control-label" style="text-align: left">
						<span>{php echo SupermanUtil::get_getcash_account_type_title($row['account_type'])}<!--支付宝银行--></span>
						<div class="panel panel-default reply-container" style="padding-top:2em; margin-top: 1rem">
							<!--判断提现方式为微信-->
							{if $row['account_type'] == 'wechat'}
							<div class="form-group row">
								<label class="col-xs-12 col-sm-3 col-md-2 control-label text-right">OpenID</label>
								<div class="col-sm-9 col-xs-12">
									<input type="text" class="form-control" disabled="disabled" name="" value="{$row['account']['openid']}">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-xs-12 col-sm-3 col-md-2 control-label text-right">微信昵称</label>
								<div class="col-sm-9 col-xs-12">
									<input type="text" class="form-control" disabled="disabled" name="" value="{$row['shop_admin']['nickname']}">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-xs-12 col-sm-3 col-md-2 control-label text-right" style="line-height: 30px;">微信头像</label>
								<div class="col-sm-9 col-xs-12">
									<div style="width: 40px;height: 40px; overflow: hidden; border-radius: 50%;">
										<img src="{$row['shop_admin']['avatar']}" onerror="this.src='{$_W['siteroot']}app/resource/images/heading.jpg'" style="width: 100%">
									</div>
								</div>
							</div>
							<!--判断提现方式为支付宝-->
							{else if $row['account_type'] == 'alipay'}
							<div class="form-group row">
								<label class="col-xs-12 col-sm-3 col-md-2 control-label text-right">账户名称</label>
								<div class="col-sm-9 col-xs-12">
									<input type="text" class="form-control" name="" disabled value="{$row['account']['alipay_account']}">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-xs-12 col-sm-3 col-md-2 control-label text-right">姓名</label>
								<div class="col-sm-9 col-xs-12">
									<input type="text" class="form-control" name="" disabled value="{$row['account']['alipay_username']}">
								</div>
							</div>
							<!--判断提现方式为银行-->
							{else if $row['account_type'] == 'bank'}
							<div class="form-group row">
								<label class="col-xs-12 col-sm-3 col-md-2 control-label text-right">银行名称</label>
								<div class="col-sm-9 col-xs-12">
									<input type="text" class="form-control" name="" disabled value="{$row['account']['bank_name']}">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-xs-12 col-sm-3 col-md-2 control-label text-right">开户行</label>
								<div class="col-sm-9 col-xs-12">
									<input type="text" class="form-control" name="" disabled value="{$row['account']['bank_account']}">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-xs-12 col-sm-3 col-md-2 control-label text-right">银行卡号</label>
								<div class="col-sm-9 col-xs-12">
									<input type="text" class="form-control" name="" disabled value="{$row['account']['bank_cardno']}">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-xs-12 col-sm-3 col-md-2 control-label text-right">开卡人姓名</label>
								<div class="col-sm-9 col-xs-12">
									<input type="text" class="form-control" name="" disabled value="{$row['account']['bank_username']}">
								</div>
							</div>
							{/if}
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 control-label">申请备注</label>
					<div class="col-sm-6 col-md-8 col-xs-12">
						<textarea name="" rows="4" class="form-control" disabled>{$row['apply_remark']}</textarea>
						<span class="help-block"></span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 control-label">提交时间</label>
					<div class="col-sm-6 col-md-8 col-xs-12">
						<input type="text" class="form-control" disabled="disabled" value="{$row['createtime']}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 control-label">支付时间</label>
					<div class="col-sm-6 col-md-8 col-xs-12">
						{if $row['account_type'] == 'wechat'}
						<input type="text" class="form-control" disabled="disabled" value="{$row['paytime']}">
						{else}
						{php echo tpl_form_field_date('paytime', $row['paytime'], true);}
						{/if}
					</div>
				</div>
				{if $row['account_type'] != 'wechat'}
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">状态</label>
					<div class="col-sm-6 col-md-8 col-xs-12">
						<div class="input-group">
							<label class="radio-inline">
								<input type="radio" name="status" value="0" {if $row['status'] == 0}checked{/if}> 待支付
							</label>
							<label class="radio-inline">
								<input type="radio" name="status" value="1" {if $row['status'] == 1}checked{/if}> 已支付
							</label>
						</div>
						<span class="help-block" style="color: #f00">更新状态时，请确认已完成相关付款操作</span>
					</div>
				</div>
				{/if}
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 control-label">备注</label>
					<div class="col-sm-6 col-md-8 col-xs-12">
						<textarea name="remark" rows="4" class="form-control">{$row['remark']}</textarea>
						<span class="help-block">此备注信息只有管理员可见</span>
					</div>
				</div>
				{if $row['account_type'] == 'wechat' && $row['wxpay_orderno']}
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">微信付款订单号</label>
					<div class="col-sm-6 col-md-8 col-xs-12 control-label" style="text-align: left">
						{$row['wxpay_orderno']}
					</div>
				</div>
				{/if}
				{if $row['account_type'] == 'wechat' && $row['wxpay_paymentno']}
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">微信付款交易号</label>
					<div class="col-sm-6 col-md-8 col-xs-12 control-label" style="text-align: left">
						{$row['wxpay_paymentno']}
					</div>
				</div>
				{/if}
				{if $row['account_type'] == 'wechat'}
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 control-label">微信付款结果</label>
					<div class="col-sm-6 col-md-8 col-xs-12">
						<textarea name="" rows="4" class="form-control" disabled>{$row['wxpay_result']}</textarea>
						<span class="help-block"></span>
					</div>
				</div>
				{/if}
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">更新时间</label>
					<div class="col-sm-6 col-md-8 col-xs-12 control-label" style="text-align: left">
						{$row['updatetime']}
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">操作人</label>
					<div class="col-sm-6 col-md-8 col-xs-12 control-label" style="text-align: left">
						{$row['operator']}
					</div>
				</div>
			</div>
		</div>
		{if $row['account_type'] == 'wechat'}
		<div class="alert alert-danger">
			<i class="fa fa-exclamation-circle"></i>
			微信付款调用微信支付商户后台企业付款接口，请确认账户金额充足，否则无法支付成功。
			查看账户余额（请复制链接使用IE浏览器登录）：<a href="http://pay.weixin.qq.com" target="_blank">http://pay.weixin.qq.com</a>
		</div>
		<div class="form-group col-sm-12">
			{if $row['status'] == 1}
			<button type="submit" class="btn btn-success" name="wxpay_submit" disabled value="wechat">
				微信付款（已支付）
			</button>
			{else}
			<button type="submit" class="btn btn-success col-lg-1" name="wxpay_submit" value="wechat">微信付款</button>
			{/if}
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
		{else}
		<div class="form-group col-sm-12">
			<button type="submit" class="btn btn-primary col-lg-1" name="submit" value="submit">提交</button>
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
		{/if}
	</form>
</div>
<script>
	require(['jquery'], function($){
		$('button[name=wxpay_submit]').click(function(){
			return confirm('确认付款到到商户微信账号吗？');
		});
	});
</script>
{else if $act == 'stat'}
<div class="main">
	<div class="alert alert-info">
		<p style="margin-bottom: 10px">
			商户结算操作金额将进入商户账户可提现余额中，未操作结算时，商户账户没有可提现余额将无法提现。
		</p>
		<ol>
			<li>每个商户每天生成一条结算数据，包含订单总数和总金额；</li>
			<li>重复点击生成结算数据时，会产生数据覆盖；</li>
			<li>生成结算数据时，根据平台商户数和结算日期不同，可能需要较长执行时间；</li>
			<li>货到付款订单和微信服务商支付的订单均不在商户结算范围内（因商户已自行收款）；</li>
		</ol>
		<p style="color: red">&nbsp;&nbsp;&nbsp;&nbsp;商户结算数据涉及钱款操作，请认真审核，谨慎操作！</p>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading">商户结算</div>
		<div class="panel-body">
			<form action="" method="post" class="form-horizontal" role="form">
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 control-label">结算日期</label>
					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-2">
						{php echo tpl_form_field_daterange('time_limit', $time_limit, false);}
					</div>
					<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
						<button class="btn btn-default">生成结算数据</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div style="margin: 10px 0;" class="clearfix">
		<div class="btn-group pull-left" style="margin-right: 10px;">
			<a class="btn btn-default {if !isset($_GPC['status'])}active{/if}" href="{php echo $this->createWebUrl('finance', array('act' => 'stat', 'pagesize' => $pagesize))}">
				全部
			</a>
			<a class="btn btn-default {if isset($_GPC['status'])&&$_GPC['status']==0}active{/if}" href="{php echo $this->createWebUrl('finance', array('act' => 'stat', 'status' => 0, 'pagesize' => $pagesize))}">
				未结算
			</a>
			<a class="btn btn-default {if $_GPC['status']==1}active{/if}" href="{php echo $this->createWebUrl('finance', array('act' => 'stat', 'status' => 1, 'pagesize' => $pagesize))}">
				已结算
			</a>
		</div>
		<form action="" method="post" class="form-inline pull-left" role="form" id="form_pagesize">
			<input type="hidden" name="page" value="{$_GPC['page']}">
			<input type="hidden" name="status" value="{$_GPC['status']}">
			<div class="form-group">
				<select class="form-control" name="pagesize">
					<option value="20" {if $pagesize==20}selected{/if}>20条</option>
					<option value="50" {if $pagesize==50}selected{/if}>50条</option>
					<option value="100" {if $pagesize==100}selected{/if}>100条</option>
					<option value="200" {if $pagesize==200}selected{/if}>200条</option>
					<option value="500" {if $pagesize==500}selected{/if}>500条</option>
				</select>
				<script>
					$('select[name=pagesize]').change(function(){
						window.location.href = '{php echo $this->createWebUrl("finance", array("act" => "stat", "status" => $_GPC["status"], "page" => $_GPC["page"]))}&pagesize='+$(this).val();
					});
				</script>
			</div>
		</form>
	</div>
	<form action="" method="post">
		<div class="panel panel-default">
			<div class="table-responsive panel-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th width="50"></th>
							<th width="160">日期</th>
							<th>商户名称</th>
							<th width="160">订单数</th>
							<th width="160">金额</th>
							<th width="160">状态</th>
							<th width="160">结算时间</th>
							<th width="160" class="text-right">操作人</th>
						</tr>
					</thead>
					<tbody>
						{if $list}
						{loop $list $li}
						<tr>
							<td>
								<input type="checkbox" name="id[{$li['shopid']}][]" value="{$li['id']}" {if $li['status'] == 1}disabled{/if}>
							</td>
							<td>{$li['stat_date']}</td>
							<td>{$li['shop']['title']}</td>
							<td>{$li['order_total']}</td>
							<td>&yen;{$li['order_price']}</td>
							<td>
								<span class="{php echo SupermanUtil::get_money_status_style($li['status'])}">
									{php echo SupermanUtil::get_money_status_title($li['status'])}
								</span>
							</td>
							<td>{$li['dateline']}</td>
							<td class="text-right">{$li['operator']}</td>
						</tr>
						{/loop}
						{/if}
						
					</tbody>
				</table>
				<div style="padding-left: 8px;padding-top: 8px;">
					<label style="cursor: pointer;">
						<input type="checkbox" name="checkall"> 全选&nbsp;&nbsp;
					</label>
					<button type="submit" name="submit" value="yes" class="btn btn-success">批量结算</button>
					<input type="hidden" name="token" value="{$_W['token']}">
				</div>
			</div>
		</div>
		{$pager}
	</form>
</div>
<script>
	require(['jquery'], function($) {
		$('input[name=checkall]').click(function(){
			if ($(this).prop('checked')) {
				$('input[type=checkbox]').not(':disabled').prop('checked', true);
			} else {
				$('input[type=checkbox]').not(':disabled').prop('checked', false);
			}
		});
	})
</script>
{else if $act == 'balance'}
<div class="main">
	<div class="alert alert-info">总金额：&yen;{if $balance_total}{$balance_total}{else}0.00{/if}</div>
	<form action="" method="post">
		<div class="panel panel-default">
			<div class="table-responsive panel-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>商户名称</th>
							<th width="100">可提金额</th>
							<th width="150">最后结算时间</th>
							<th width="150" class="text-right">操作</th>
						</tr>
					</thead>
					<tbody>
						{loop $list $li}
						<tr>
							<td>{$li['shop']['title']}</td>
							<td>&yen;{$li['balance']}</td>
							<td>{$li['updatetime']}</td>
							<td class="text-right">
								<a href="{php echo $this->createWebUrl('finance', array('act' => 'money_log', 'id' => $li['shop']['id']))}">查看流水明细</a>
							</td>
						</tr>
						{/loop}
					</tbody>
				</table>
			</div>
		</div>
		{$pager}
	</form>
</div>
{else if $act == 'money_log'}
<div class="main">
	<form action="" method="post">
		<div class="panel panel-default">
			<div class="table-responsive panel-body">
				<table class="table table-hover">
					<thead>
					<tr>
						<th width="100">类型</th>
						<th>备注</th>
						<th width="150">金额</th>
						<th width="120">操作人</th>
						<th width="150">更新时间</th>
					</tr>
					</thead>
					<tbody>
					{if $list}
					{loop $list $li}
					<tr>
						<td>
							{if $li['type']==1}
							<span class="label label-success">收入</span>
							{else}
							<span class="label label-danger">支出</span>
							{/if}
						</td>
						<td style="white-space: normal;overflow: auto;">{$li['remark']}</td>
						<td>{if $li['type']==1}+{else}-{/if}&yen;{$li['money']}</td>
						<td>{$li['operator']}</td>
						<td>{php echo date('Y-m-d H:i:s', $li['dateline'])}</td>
					</tr>
					{/loop}
					{/if}
					</tbody>
				</table>
			</div>
		</div>
		{$pager}
	</form>
</div>
{else if $act == 'statement'}
<div class="main">
    <div class="alert alert-info">
		<p>对账单中涉及金额的字段单位为“元”；</p>
		<p>对账单接口只能下载三个月以内的账单；</p>
		<p>下载账单时间段选择不要过长，因下载账单接口为单日期接口。</p>
		<p>微信在次日9点启动生成前一天的对账单，建议商户10点后再获取；</p>
    </div>
    <form class="form-horizontal form" action="" method="post">
        <div class="panel panel-default">
            <div class="panel-heading">
                对账单下载
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">账单类型</label>
                    <div class="col-sm-6 col-md-8 col-xs-12">
                        <div class="input-group">
                            <label class="radio-inline">
                                <input type="radio" name="bill_type" value="ALL" checked> 所有账单
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="bill_type" value="SUCCESS"> 支付账单
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="bill_type" value="REFUND"> 退款账单
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="bill_type" value="REVOKED"> 撤销账单
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">账单时间</label>
                    <div class="col-sm-6 col-md-8 col-xs-12">
                        <div class="input-group">
                            {php echo tpl_form_field_daterange('bill_date', $date, false);}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <button type="submit" name="submit" value="yes" class="btn btn-success">下载对账单</button>
            <input type="hidden" name="token" value="{$_W['token']}">
        </div>
    </form>
</div>

{/if}
{template 'footer'}