{template 'web/header'}
<div class="panel panel-default">
	<div class="panel-heading">
		众筹说明
	</div>
	<div class="panel-body">
		<div class="alert alert-info">
			<div style="width: 800px">
				<p style="font-weight: bold">首先，感谢大家对超人的支持和信赖！</p>
				<br/>
				<p>在如此短时间内众筹了一款超级重量级产品，你们和超人一起见证了应用商城的众筹记录！！！（谁有排行榜~~告诉一下哦）</p>
				<br/>
				<p>其实在2015年初的时候，超人就有想法做一款商城产品，但是凑巧的是接到一个好朋友的项目，结果商城项目就搁浅了。</p>
				<p>朋友的项目结束后就来到5月份了，此时微擎应用商城出现了几个分销模块，其实骨子里都是商城，分销只是上面的一个功能，正在犹豫是否启动商城项目之际，又陆续接到一些开发项目，这一拖就到这里了……<img src="http://res.mail.qq.com/zh_CN/images/mo/DEFAULT2/0.gif"/></p>
				<br/>
				<p>此时正巧在超人应用售后群里（还没入群？那损失可大喽~~~），有一位网友（隔窗听雨）和大家在聊火爆的O2O商城……经过一番沟通了解后，决定由隔窗听雨代超人发起“超级商城”众筹项目，由此便有了后来的一切……</p>
				<br/>
				<p>超人在此感谢 <strong>隔窗听雨</strong> 为众筹项目所做的努力，还有群里好多为众筹项目献计献策的网友（<strong>微小胖、龙象、scbz00000、肇庆之星、雨潇、拒绝命运</strong>等等），在此无法一一点名致谢！<img src="http://res.mail.qq.com/zh_CN/images/mo/DEFAULT2/81.gif"/></p>
				<p style="color: red">* 项目最新进展都同步到群公告，请加群了解详情（QQ群：460327496）</p>
			</div>
		</div>
		<p>以下是隔窗听雨对产品的一些想法和思路：</p>
		<div class="alert alert-danger">
			<div style="width: 800px">
				<div class="clearfix">
					<p>首先感谢大家对超人团队的信任与支持，让我们超级商城这么强大的模块在短时间内众筹成功。</p>
					<p>其实我们诞生这个超级商城的想法很久了，开发这个商城的目的，就是为了让商户通过整合的营销工具（如：秒杀，抢购，拍卖，抽奖，砸金蛋等）把商品销售出去。以服务本地商家为结果的本地多商家商城。</p>
					<br>
					<p>为什么叫超级商城？</p>
					<p>本商城是一个多商户入驻式的综合商城，利用线上与线下的关系，结合细腻的产品分类，营销功能，三级分销，PC端页面，以及后期增加活动专题页，比如：年货清仓专题页，情人礼物区，圣诞礼物抢购，中秋秒杀专区，最大程度的刺激消费者买单，让商家赚钱，平台自然会赚钱。</p>
					<br>
					<p>平台赢利点分析</p>
					<ol>
						<li>商户入驻费用</li>
						<li>广告费用</li>
						<li>商品推广费用</li>
						<li>营销工具收费（秒杀，抢购等等）</li>
						<li>销售提成（美团等均价在10个点左右）</li>
					</ol>
					<p>……欢迎入群交流</p>
				</div>
				<div class="clearfix">
					<div class="pull-right">隔窗听雨</div>
				</div>
				<div class="clearfix">
					<div class="pull-right">2015-12-19</div>
				</div>
			</div>
		</div>
	</div>
</div>
{template 'common/footer'}