<div class="row notice" style="margin-bottom: 1rem;">
	<input type="hidden" name="nid[]">
	<div class="col-sm-11 col-md-11 col-xs-12" style="padding-left: 0; padding-right: 3rem; margin-bottom: 1rem">
		<select class="form-control" name="type[]">
			<option selected value="">请选择</option>
			<option value="1">微信</option>
			<option value="2">短信</option>
		</select>
	</div>
	<div class="col-sm-1 col-md-1 col-xs-1" style="padding: 0">
		<a href="javascript:;" data-toggle="tooltip" class="btn btn-danger" onclick="deleteNotice(this)" title="删除" data-id="0">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 删除
		</a>
	</div>
	<div class="wrap_1 notice_wrap" style="display: none">
		<div class="col-sm-11 col-md-11 col-xs-12" style="padding-left: 0; padding-right: 3rem; margin-bottom: 1rem">
			<input class="form-control" name="openid[]" type="text" value="" placeholder="openid">
		</div>
		<div class="col-xs-12 col-sm-2 col-md-1 col-lg-1" style="padding-left: 0">
			<a href="{php echo wurl('mc/fans');}" target="_blank" class="btn btn-default"><i class="fa fa-search"></i> 查编号</a>
		</div>
	</div>
	<div class="wrap_2 notice_wrap" style="display: none">
		<div class="col-sm-11 col-md-11 col-xs-12" style="padding-left: 0; padding-right: 3rem; margin-bottom: 1rem">
			<input class="form-control" name="mobile[]" type="text" value="" placeholder="手机号">
		</div>
	</div>
	<div class="message_wrap" style="display: none">
		<div class="col-sm-11 col-md-11 col-xs-12" style="padding-left: 0; padding-right: 3rem; margin-bottom: 1rem">
			<textarea class="form-control" rows="3" name="message[]" placeholder="消息内容">您好，数据已更新，请登录后台查看。</textarea>
		</div>
	</div>
</div>
