<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>在线客服</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<meta name="format-detection" content="telephone=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>
<body>
<script type='text/javascript'>
	(function(m, ei, q, i, a, j, s) {
		m[a] = m[a] || function() {
			(m[a].a = m[a].a || []).push(arguments)
		};
		j = ei.createElement(q),
				s = ei.getElementsByTagName(q)[0];
		j.async = true;
		j.charset = 'UTF-8';
		j.src = i + '?v=' + new Date().getUTCDate();
		s.parentNode.insertBefore(j, s);
	})(window, document, 'script', '//eco-api.meiqia.com/dist/meiqia.js', '_MEIQIA');
	_MEIQIA('entId', 6764);
</script>
</body>
</html>