{template 'common/header'}
<div class="page-group">
	<div class="page superpage_{$do}" id="superpage_{$do}_{$act}">
		{template 'common/nav'}
		{template 'common/title'}
		{if $act == 'display'}
		<div class="content">
			<div class="card">
				<div class="row">
					<div class="col-100">
						<div class="avatar_wrap text-center">
							<div class="avatar">
								<img src="{$buyer['avatar']}" onerror="this.src='resource/images/heading.jpg'"/>
							</div>
							<span class="text-overflow font7 color-default text-center">{$buyer['nickname']}</span>
						</div>
					</div>
				</div>
				<div class="list-block font7 detail_wrap">
					<ul>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title label text-center">订单号</div>
									<div class="item-input">
										<input type="text" class="font7 color-gray" value="{$order['ordersn']}" disabled>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title label text-center">支付方式</div>
									<div class="item-input">
										<input type="text" class="font7 color-gray"  value="{$pay_type}" disabled>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title label text-center">留言</div>
									<div class="item-input">
										<textarea class="font7 color-gray" disabled>{$order['remark']}</textarea>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="card item_list_wrap">
				<div class="card-content">
					<div class="list-block media-list">
						<ul>
							{if $order_item}
							{loop $order_item $item}
							<li>
								<a href="#" class="item-content">
									<div class="item-media">
										<img src="{php echo tomedia($item['cover'])}" onerror="this.src='{php echo $this->superman_placeholder}'"/>
									</div>
									<div class="item-inner">
										<div class="item-title-row">
											<div class="item-title font7 color-default text-overflow-line2">{$item['title']}</div>
										</div>
										<div class="item-subtitle color-gray font6">
											<span>x{$item['total']}</span>
										</div>
										<div class="item-subtitle color-danger font9">¥{$item['price']}</div>
									</div>
								</a>
							</li>
							{/loop}
							{/if}
						</ul>
					</div>
				</div>
			</div>
			<div class="card remark_wrap">
				<div class="list-block font7">
					<ul>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title label text-center">留言</div>
									<div class="item-input">
										<textarea class="font7" name="remark" placeholder="选填" {if $checkout_log}disabled{/if}>{$checkout_log['remark']}</textarea>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="content-block btn">
				<div class="row">
					<div class="col-100">
						{if $checkout_log}
						<a href="#"  class="button button-fill button-light disabled">已核销</a>
						{else}
						<a href="#" data-orderid="{$orderid}" data-url="{php echo $this->createMobileUrl('checkout')}" class="button button-fill button-success btn_checkout">确认核销</a>
						<span class="text-center font7 color-gray">核销后不可撤回</span>
						{/if}
					</div>
				</div>
			</div>
		</div>
		{/if}
	</div>
</div>
{template 'common/footer'}