.bar-tab .tab-item.active, .bar-tab .tab-item:active, a:active, .buttons-tab
.button.active{color:#c40000}.buttons-tab
.button.active{border-color:#c40000}.bar-tab:before{height:0}.swiper-pagination-bullet-active{background-color:#c40000}@font-face{font-family:'iconfont';src:url('//at.alicdn.com/t/font_1476324296_5147114.eot');src:url('//at.alicdn.com/t/font_1476324296_5147114.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1476324296_5147114.woff') format('woff'), url('//at.alicdn.com/t/font_1476324296_5147114.ttf') format('truetype'), url('//at.alicdn.com/t/font_1476324296_5147114.svg#iconfont') format('svg')}.iconfont{font-family:"iconfont" !important;font-size:1rem !important;font-style:normal;-webkit-font-smoothing:antialiased;-webkit-text-stroke-width:0.2px}.font5{font-size: .5rem !important}.font6{font-size: .6rem !important}.font7{font-size: .7rem !important}.font8{font-size: .8rem !important}.font9{font-size: .9rem !important}.fonta{font-size:1rem !important}.fonta1{font-size:1.1rem !important}.fonta2{font-size:1.2rem !important}.text-left{text-align:left}.text-right{text-align:right}.text-overflow{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.text-overflow-line2{display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:2}.text-overflow-line3{display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:3}.text-overflow-line4{display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:4}.text-overflow-line5{display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:5}.text-strong{font-weight:bold !important}.text-delete-line{text-decoration:line-through}.nodata{margin: .3rem 0}.en-word-break{table-layout:fixed;word-break:break-all;overflow:auto}.msg_tips{position:absolute;top:50%;left:50%;width:15rem;height:3.5rem;margin-top:-1.75rem;margin-left:-7.5rem}.mgroupon_title{background-color:#f60;color:#fff;border-radius:0.25rem;font-size: .5rem;padding: .1rem .25rem}.seckill_title{background-color:#f00;color:#fff;border-radius:0.25rem;font-size: .5rem;padding: .1rem .25rem}.marketing_title{background-color:#0275d8;color:#fff;border-radius:0.25rem;font-size: .5rem;padding: .1rem .25rem}.list_search_style{top:0;width:90%;padding-left:2rem}.list_search_style
.searchbar{background:rgba(0,0,0,0)}.button-fill{line-height:2rem !important;height:2rem !important}.button-small{line-height:1.35rem !important;height:1.35rem !important}#gotop{display:none;text-align:center;position:fixed;z-index:2001;bottom:3rem;right: .1rem;width:1.8rem;height:1.8rem;background-color:rgba(0,0,0,.6);color:#eee;overflow:hidden;border-radius: .1rem}.img_icon{width:1.2rem;height:1.2rem}.back_style{position:fixed;top: .5rem;left: .5rem;z-index:2001;width:2rem;height:2rem;background-color:rgba(0,0,0,.6);text-align:center;vertical-align:middle;border-radius:50%}.back_style
a{line-height:2rem;color:#fff}.cart_corner{position:absolute;min-width: .7rem;height: .7rem;line-height: .8rem;top: .1rem;right:1rem;background:#f00;color:#fff;text-align:center;border-radius:50%;z-index:20}.superpage_home .swiper-container{padding-bottom:0 !important}.superpage_home .swiper-container .swiper-pagination{bottom:0}.superpage_home .home_swiper_warp
img{min-height:178px;width:100%}.superpage_home
.apps{background-color:#fff;margin:0;padding-top: .5rem}.superpage_home .apps .col-25{padding-bottom:1rem}.superpage_home .apps .col-25
a{display:block;height:2.8rem}.superpage_home .apps
.apps_icon{width:2rem;height:2rem;margin:auto;border-radius:50%}.superpage_home
.search_form{padding-left:0}.superpage_home
.searchbar.row{width:100%;margin-left:0}.superpage_home
.searchbar{padding-top:4px !important;padding-bottom:0;line-height:2rem}.superpage_home .searchbar-cancel{color:#5f646e}.superpage_home .searchbar
input{border:none}.superpage_home
.searchbar_float{background-color:#efeff4;position:fixed;position:-webkit-sticky;position:sticky;top:0;z-index:999}.superpage_home
.home_search_style1{width:96% !important}.superpage_home .apps .col-25:nth-child(8n+1) .apps_icon_bg{background-color:#e5001f}.superpage_home .apps .col-25:nth-child(8n+2) .apps_icon_bg{background-color:#884dff}.superpage_home .apps .col-25:nth-child(8n+3) .apps_icon_bg{background-color:#ff6c00}.superpage_home .apps .col-25:nth-child(8n+4) .apps_icon_bg{background-color:#28aafa}.superpage_home .apps .col-25:nth-child(8n+5) .apps_icon_bg{background-color:#2cc2f9}.superpage_home .apps .col-25:nth-child(8n+6) .apps_icon_bg{background-color:#ffb139}.superpage_home .apps .col-25:nth-child(8n+7) .apps_icon_bg{background-color:#21d59b}.superpage_home .apps .col-25:nth-child(8n+8) .apps_icon_bg{background-color:#ff772b}.superpage_home .apps .apps_icon
img{width:2rem;height:2rem;border-radius:50%}.superpage_home .apps .apps_icon
i{display:block;height:2rem;line-height:2rem;font-size:1.2rem}.superpage_home .apps .col-25
a{color:#fff !important}.superpage_home .apps .col-25
span{display:block;font-size: .6rem;height:1.5rem;line-height:1.5rem}.superpage_home
.topline{margin: .5rem 0 0 0;background-color:#fff}.superpage_home .topline .item-inner{height:1.5rem;line-height:1.5rem}.superpage_home .topline .item-inner>div:first-child{width:5rem}.superpage_home
.seckill_list_wrap{padding-left: .5rem;margin-left:0}.superpage_home
.seckill{background-color:#fff;margin: .5rem 0 0 0}.superpage_home .seckill
.seckill_name{color:#ff461f}.superpage_home .seckill .item-link .item-inner{padding-left: .5rem;display:block}.superpage_home
.seckill_countdown{display:inline-block}.superpage_home .seckill_countdown
span{border:1px
#ccc solid;padding:1px}.superpage_home
.seckill_more{line-height:1.4rem;display:inline-block}.superpage_home
.seckill_img{position:relative}.superpage_home .seckill_img
span{position:absolute;bottom:0;right:0;color:#fff;background:rgba(0,0,0, .5);padding:0
.1rem}.superpage_home .seckill
.row{padding: .5rem .5rem 0}.superpage_home .seckill .row
img{width:100%}.superpage_home .seckill .row
a{display:block}.superpage_home .seckill .row
span{display:block;text-align:center;line-height: .7rem;padding-top: .2rem}.superpage_home .seckill
.old_price{padding-bottom: .4rem;text-decoration:line-through}.superpage_home
.mgroupon_list_wrap{padding-left: .5rem;margin-left:0}.superpage_home
.mgroupon{background-color:#fff;margin: .5rem 0 0 0}.superpage_home .mgroupon
.mgroupon_name{color:#ff461f}.superpage_home .mgroupon .item-link .item-inner{padding-left: .5rem;display:block}.superpage_home
.mgroupon_more{line-height:1.4rem;display:inline-block}.superpage_home
.mgroupon_img{position:relative}.superpage_home .mgroupon_img
span{position:absolute;bottom:0;right:0;color:#fff;background:rgba(0,0,0, .5);padding:0
.1rem}.superpage_home .mgroupon
.row{padding: .5rem .5rem 0}.superpage_home .mgroupon .row
img{width:100%}.superpage_home .mgroupon .row
a{display:block}.superpage_home .mgroupon .row
span{display:block;text-align:center;line-height: .7rem;padding-top: .2rem}.superpage_home .mgroupon
.old_price{padding-bottom: .4rem;text-decoration:line-through}.superpage_home
.banner_ad{margin: .5rem 0 0 0}.superpage_home .banner_ad
a{font-size:0;display:block}.superpage_home .banner_ad
img{width:100%;min-height:80px}.superpage_home
.promotion_wrap{margin-top: .5rem}.superpage_home .promotion_wrap > .row [class*=col-]{font-size:0;line-height:0}.superpage_home .promotion_wrap > .row [class*=col-] a{font-size:0;line-height:0}.superpage_home .promotion_wrap .row
img{width:100%;max-height:11rem;border-left:1px #ececec solid;border-bottom:1px #ececec solid}.superpage_home
.recommend_shop_wrap{margin-top: .5rem;margin-bottom:0}.superpage_home .recommend_shop_wrap
.row{padding: .5rem;background-color:#fff}.superpage_home .recommend_shop_wrap .row
a{display:block;line-height: .85rem}.superpage_home .recommend_shop_wrap .row a
img{width:100%}.superpage_home .recommend_shop_wrap .row a
span{display:block}.superpage_home .recommend_shop_wrap
.shop_list_wrap{margin-left:0}.superpage_home .recommend_shop_wrap .shop_list_wrap
.shop_name_wrap{padding-top: .2rem}.superpage_home
.recommend_item{background-color:#fff;margin: .5rem 0 .5rem 0}.superpage_home .recommend_item .item-link a>.item-inner{padding-left: .5rem}.superpage_home .recommend_item .media-list{margin:0}.superpage_home .recommend_item .media-list .item-media
img{width:4rem}.superpage_home .recommend_item .media-list .item-title{white-space:normal}.superpage_home .recommend_item .media-list .item-text{color:#999;height: .85rem}.superpage_home .recommend_item .media-list
.price{color:#f00}.superpage_home .recommend_item .media-list
.sales{color:#999;line-height:1.2rem;height:1.2rem}.superpage_home .recommend_item .two_list_style
.two_list_wrap{margin: .2rem;border-radius:0;box-shadow:0 0 0 0 rgba(0, 0, 0, 0)}.superpage_home .recommend_item .two_list_style .two_list_wrap .card-content-inner{padding: .2rem}.superpage_home .recommend_item .two_list_style .two_list_wrap .card-content-inner
.two_list_item{height:1.2rem;line-height:1.2rem}.superpage_home .recommend_item
.two_list_bg{background-color:#f7f7f8 !important}.superpage_home .recommend_item
.item_discount{height: .6rem;line-height: .6rem;position:absolute;top:0;left:0;color:#fff}.superpage_home .recommend_item .item_discount
.discount_typ1{background-color:#ea8010;padding: .1rem .2rem}.superpage_home .recommend_item .item_discount
.discount_typ2{background-color:#eb4f38;padding: .1rem .2rem}.superpage_home .recommend_item .item_discount
.discount_typ3{background-color:#00bb9c;padding: .1rem .2rem}.superpage_home .recommend_item
.sales_wrap{height:1rem;line-height:1rem;position:absolute;bottom:0;right:0;background-color:rgba(0,0,0,.5);padding:0
.3rem;color:#fff}.superpage_home .recommend_item
.market_price_wrap{margin-left: .2rem}.superpage_home
.list_style_noswitch{width:100%;padding-left:4%;padding-right:4%}.superpage_home
.add_cart{border:0;color:#999;display:inline-block;padding:0}.list_style_one_img{position:relative}.superpage_category
.content{background-color:#fff}.superpage_category
.category_wrap{background-color:#fff}.superpage_category
.category_left{width:30%;overflow:hidden;overflow-y:scroll;-webkit-overflow-scrolling:touch;height:100px;border-right:1px #ccc solid}.superpage_category .category_left::-webkit-scrollbar{display:none}.superpage_category .category_left
ul{padding:0;margin:0}.superpage_category .category_left ul
li{height:2rem;line-height:2rem;background-color:#f3f4f6;border-bottom:1px solid #e0e0e0;text-align:center}.superpage_category .category_left ul li:last-child{border-bottom:0}.superpage_category .category_left ul li
a{display:block}.superpage_category .category_left ul li
.active{background-color:#fff;border-right:1px solid #fff}.superpage_category .category_left ul li
.active{color:#f00;font-weight:bold}.superpage_category .category_left ul li
a{color:#3d4145}.superpage_category
.category_right{width:67%;padding-top: .5rem;padding-right:4%;overflow-y:scroll;-webkit-overflow-scrolling:touch}.superpage_category .category_right .content-block-title
a{display:block}.superpage_category .category_right::-webkit-scrollbar{display:none}.superpage_category .category_right .row .col-33
a{display:block;line-height: .8rem;padding-bottom: .5rem}.superpage_category .category_right .row .col-33 a
img{width:100%;min-height:3rem}.superpage_category .category_right .row .col-33 a
span{display:block}.superpage_category .category_right .content-block-title{margin: .5rem .5rem .5rem 0}.no_category{text-align:center;background-color:#ccc;border-radius: .5rem;color:#fff}.superpage_category
.list_search_style{width:100%}.superpage_cart
.cart_wrap{margin:0
0 3rem 0}.superpage_cart .cart_wrap .shopname_wrap:after{display:none}.superpage_cart .cart_wrap
.item_list_wrap{margin-bottom: .5rem}.superpage_cart .cart_wrap .item_img
img{width:3.2rem;height:3.2rem;min-height:3.2rem}.superpage_cart .cart_wrap .item-title{white-space:normal}.superpage_cart .cart_wrap .item-subtitle{line-height:1.6rem}.superpage_cart .cart_wrap .item-text{height:1rem}.superpage_cart .cart_wrap .buttons-row{margin-top: .1rem}.superpage_cart .cart_wrap .item-title-row
.price{color:#f00}.superpage_cart .cart_wrap .buttons-row
.button{height:1rem;line-height:1rem;color:#999;border-color:#999}.superpage_cart
.btn_buy{margin-bottom:2.5rem;background-color:rgba(0,0,0,0.7)}.superpage_cart .btn_buy
.row{color:#fff;height:2.5rem}.superpage_cart .btn_buy .row [class^=col-]{height:2.5rem;line-height:2.5rem}.superpage_cart .btn_buy .row
.settlement{background-color:#f00;display:block;width:35%;text-align:center;height:2.5rem;line-height:2.5rem}.superpage_cart .btn_buy .row .settlement
a{display:block;color:#fff}.superpage_cart .btn_buy .row .col-25
label{display:block}.superpage_cart label.label-checkbox input[type="checkbox"]:checked + .item-media i.icon-form-checkbox{background-color:#c40000}.superpage_cart .cart_wrap .buttons-row
.number{width:2rem;text-align:center;margin-left:-1px;color:#999;position:relative;display:block;height:1rem;font-size: .7rem;line-height:1rem;border:1px
solid #999;padding-left:0}.superpage_cart .cart_wrap .buttons-row
.button{padding:0
.2rem;line-height: .8rem}.superpage_cart .cart_wrap label:first-child{margin-top:1rem;display:inline-block}.superpage_cart .cart_wrap label:nth-child(2){padding-left:0}.superpage_cart .cart_wrap label:nth-child(2)>a{display:block}.superpage_cart .cart_wrap label:nth-child(2)  .item-inner{padding-left: .5rem}.superpage_cart .cart_wrap
.item_checkbox{height:3.2rem;padding-right: .5rem}.superpage_cart .cart_wrap
.btn_minus{border-top-left-radius: .2rem;border-bottom-left-radius: .2rem;width:1rem}.superpage_cart .cart_wrap
.btn_plus{width:1rem}.profile_popup_big_avatar{background:#000}.profile_popup_big_avatar
img{max-width:100%}.superpage_profile
.myavatar{border-radius: .3rem;width:3rem;height:3rem;margin:0
auto;overflow:hidden;border:1px
rgba(255,255,255,0.2) solid}.superpage_profile .myavatar
img{width:3rem}.superpage_profile .list-block{margin: .5rem 0}.superpage_detail .bar-tab
a{color:#fff}.superpage_detail
.bar{background-color:rgba(56,56,56,1) !important;z-index:16}.superpage_detail .bar-tab .tab-item:last-child{width:10%}.superpage_detail .bar-tab .tab-item:last-child .col-50:first-child{height:2.5rem;line-height:2.5rem;background-color:#f60}.superpage_detail .bar-tab .tab-item:last-child .col-50:last-child{height:2.5rem;line-height:2.5rem;background-color:#f00;position:relative}.superpage_detail .bar-tab .tab-item:last-child .col-50>a{display:block;height:2.5rem;line-height:2.5rem}.superpage_detail
.mgroupon_avatar{width:1.6rem;height:1.6rem;border-radius:50%;position:absolute;left: .8rem;top: .4rem}.superpage_detail
.cart_corner{position:absolute;min-width: .7rem;height: .7rem;line-height: .8rem;top: .1rem;left:1.2rem;background:#f00;color:#fff;text-align:center;border-radius:50%;z-index:20}.no_click{pointer-events:none}.superpage_detail
.payment_method{padding:0
.5rem;margin-top: .5rem}.superpage_detail .payment_method
.payment_method_list{padding-right: .4rem}.single_price_bgcolor{background-color:#d9534f !important}.superpage_detail .bar-tab .tab-item .single_price, .superpage_detail .bar-tab .tab-item
.multi_member_join{line-height: .8rem !important;padding-top: .5rem !important}.superpage_detail .bar-tab .tab-item .single_price .tab-label:last-child , .superpage_detail .bar-tab .tab-item .multi_member_join .tab-label:last-child{display:block}.superpage_detail .swiper-container{padding-bottom:0}.superpage_detail .swiper-container .swiper-pagination{bottom:0}.superpage_detail .swiper-container
img{width:100%}.superpage_detail
.mgroupon_begin_list{margin: .5rem 0}.superpage_detail .mgroupon_begin_list .item-content{padding-left:0.5rem !important}.superpage_detail .mgroupon_begin_list .item-content > .item-media
img{width:1.6rem;height:1.6rem;border-radius:1.6rem}.superpage_detail .mgroupon_begin_list .item-title-row{line-height:1.6rem}.superpage_detail
.discount_btn{display:inline;padding:0
.2rem;margin-left: .2rem}.kefu_wrap{position:fixed;top:50%;right:0;z-index:2001;width:1.5rem;height:1.5rem;background-color:rgba(0,0,0,.6);text-align:center;vertical-align:middle;border-top-left-radius: .2rem;border-bottom-left-radius: .2rem}.kefu_wrap
a{display:block;color:#fff}.superpage_detail .bar
.avatar{border-radius:50%;width:1.75rem;height:1.75rem;overflow:hidden;border:1px
rgba(255,255,255,0.2) solid;display:inline-block;margin-top: .2rem}.superpage_detail .bar
.nickname{display:inline-block;height:2.2rem;line-height:2.2rem;color:#fff;padding-left: .3rem}.superpage_detail .bar .avatar
img{width:1.75rem}.superpage_detail .content
.row{background-color:#fff;padding-bottom: .3rem}.superpage_detail .content .row [class^=col] p{margin: .3rem 0 0 0;padding:0
.5rem}.superpage_detail .content
.item_subtitle{color:#f00}.superpage_detail .content
.discount_price{padding-left: .5rem}.superpage_detail
.price{font-size:1rem;color:#f00;padding:0
.5rem}.superpage_detail
.selected{margin: .5rem 0 0 0;background-color:#fff}.superpage_detail .selected .item-inner{line-height:1.5rem}.superpage_detail .selected .item-inner
.font6{line-height:1rem}.superpage_detail .selected .item-inner>div:first-child{width:5rem}.superpage_detail .buttons-tab{margin: .5rem 0 0 0;z-index:9}.superpage_detail .item_content #tab1
table{width:100%}.superpage_detail .item_content #tab1
img{max-width:100% !important}.superpage_detail .item_content
.tabs{min-height:20rem}.superpage_detail .item_content .content-padded{margin-top:0}.superpage_detail .item_content
#tab1{padding: .5rem 0}.superpage_detail .item_content #tab1 .content-padded{padding-top: .5rem}.superpage_detail
.item_content{background-color:#fff;margin:0;padding:0}.superpage_detail .item_content #tab3
.comment_list{padding-bottom: .1rem}.superpage_detail .item_content
p{line-height:0;margin:0}.superpage_detail #tab2 .list-block{margin:0}.superpage_detail #tab2 .item-content{padding-left:0}.superpage_detail #tab2 .item-inner, .superpage_detail #tab3 .item-inner{padding-left: .75rem}.superpage_detail .content-block-title{margin-top:0rem;padding: .5rem 0 0 0}.superpage_detail .media-list .item-content{padding-left:0}.superpage_detail
.share_img_wrap{padding: .5rem 0 0 0 !important}.superpage_detail .share_img_wrap
img{width:100%}.superpage_detail .share_img_wrap [class*=col-]{padding:0
!important}.superpage_detail .item-after{line-height:1.25rem;color:#999}.superpage_detail .item-subtitle{white-space:normal}.superpage_detail
.more{width:6rem;margin: .5rem auto;display:block}.superpage_detail .select_item_spec .item-inner
.font7{padding-left: .75rem}.superpage_detail
.nofollow_style{margin-top:2.2rem}.superpage_detail
.commission_info_wrap{margin: .5rem 0}.superpage_detail .commission_info_wrap
ul{padding-top: .3rem}.superpage_detail .commission_info_wrap
.detail_commission{padding-top: .4rem}.superpage_detail .commission_info_wrap ul li .col-80{padding-right: .5rem;line-height:1.2rem}.superpage_detail .commission_info_wrap .marketing_wrap
.row{margin-left:0}.superpage_detail .commission_info_wrap .marketing_wrap .col-80{padding-right:0}.superpage_detail .commission_info_wrap
.button{display:inline;padding:0
.2rem;margin-right: .2rem}.superpage_detail
.mgroupon_rule{margin: .5rem 0}#mgroupon_rule .content-block{margin: .5rem 0}#mgroupon_rule .content-block .list-paddingleft-2{padding-left: .5rem}.superpage_detail
.seckill_countdown{z-index:999999;position:absolute;color:#fff;background-color:rgba(0,0,0,.8);width:100%;right:0;bottom:0;height:2.5rem;line-height:2.5rem}.superpage_detail .seckill_countdown
span{color:#03ff00}.item_spec,.__item_spec{background-color:#fff;position:absolute;bottom:-1.3rem;left:0;z-index:11000;width:100%;min-height:10rem;padding-bottom:1.3rem;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}.item_spec.modal-in{-webkit-transition-duration:300ms;-o-transition-duration:300ms;transition-duration:300ms;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.item_spec.modal-out{z-index:10999;-webkit-transition-duration:300ms;-o-transition-duration:300ms;transition-duration:300ms;-webkit-transform:translate3d(0, 100%, 0);transform:translate3d(0, 100%, 0)}.item_spec .list-block.media-list .item-content ,
.__item_spec .list-block.media-list .item-content{padding-left:0}.item_spec .media-list ,
.__item_spec .media-list{padding-bottom:0}.item_spec .item_img ,
.__item_spec
.item_img{margin-top:-1.3rem;z-index:11000;width:4rem}.item_spec .close_wrap ,
.__item_spec
.close_wrap{position:relative;z-index:11000;top:-.8rem;right: .5rem}.item_spec li ,
.__item_spec
li{padding:0
.5rem }.item_spec li:first-child .item-inner ,
.__item_spec li:first-child .item-inner{padding-left: .5rem}.item_spec .item-inner ,
.__item_spec .item-inner{padding-bottom:0 !important}.item_spec .item-inner .button ,
.__item_spec .item-inner
.button{display:inline-block;background-color:#999;margin-bottom: .5rem}.item_spec .active ,
.__item_spec
.active{background-color:#f00 !important}.item_spec .row ,
.__item_spec
.row{padding: .5rem}.item_spec .list-block ,
.__item_spec .list-block{margin:0}.item_spec .btn_confirm ,
.__item_spec
.btn_confirm{margin: .5rem auto}.item_spec .buttons-row .number ,
.__item_spec .buttons-row
.number{width:2rem;text-align:center;margin-left:-1px;color:#999;position:relative;display:block;height:1rem;font-size: .7rem;line-height:1rem;border:1px
solid #999;padding-left:0}.item_spec .buttons-row .button ,
.__item_spec .buttons-row
.button{padding:0
.2rem;line-height: .8rem;height:1rem;color:#999;border-color:#999}.item_spec .btn_minus ,
.__item_spec
.btn_minus{border-top-left-radius: .2rem;border-bottom-left-radius: .2rem;width:1rem}.item_spec .btn_plus ,
.__item_spec
.btn_plus{width:1rem}.superpage_order
.card{margin: .5rem 0 0 0;border-radius:0;box-shadow:0 .05rem .1rem rgba(0, 0, 0, 0)}.superpage_order .item-media
img{width:3.5rem}.superpage_order
.shop_name_wrap{margin-left:0 !important}.superpage_order .buy_again, .superpage_order
.view_comment{display:inline-block}.superpage_order
.tabs{margin-bottom: .5rem}.superpage_order .tabs .media-list ul>a{display:block}.superpage_order .buy_num,
.superpage_order .item-content .item-inner span a,
.superpage_order .buy_num,
.superpage_order .item-content .item-inner span
a{display:inline-block}.superpage_order .item-content .item-inner,
.superpage_order .item-content .item-inner{margin-left: .75rem}.superpage_order
.logistics_btn{margin-right: .5rem}.superpage_order
.qrcode{background-color:#fff;margin: .5rem 0;padding: .5rem}.superpage_order .qrcode
img{width:6rem}.superpage_order .qrcode .list-block{margin:0}.superpage_order .qrcode .list-block .content-block.btn{margin-bottom:0}.superpage_order .qrcode .list-block
ul{margin: .5rem auto}.superpage_order
.addressee{padding: .3rem 0}.superpage_order .addressee
span{display:block}.superpage_order
.message{padding: .3rem 0}.superpage_order
.detail_wrap{margin:0}.superpage_order .detail_wrap .item-inner .item-input input[type="text"]{color:#999 !important}.superpage_order .detail_wrap
.row{padding: .5rem}.superpage_order .detail_wrap .item-subtitle{height:1rem;line-height:1rem}.superpage_order .detail_wrap .item-subtitle
span{border:1px
#ccc solid;padding: .1rem .3rem;border-radius: .3rem}.superpage_order .detail_wrap .list-block.media-list{margin: .5rem 0}.superpage_order .detail_wrap
.price{border:0
!important}.superpage_order
.btn{margin: .5rem}.superpage_order .btn .col-100{padding-bottom: .5rem}.superpage_order
.address_wrap{margin: .5rem 0}.refund_reason{padding:0
0.25rem;width:100%;box-sizing:border-box;background:#fff;margin:0;border:1px
solid #a0a0a0;border-radius:0.25rem}.superpage_order .logistics_wrap .item-inner{margin-left:0}.superpage_order .logistics_wrap .list-block{margin:0}.superpage_order .logistics_wrap .list-block.media-list{margin-top: .5rem}.superpage_order .logistics_wrap
.time_axis_wrap{list-style:none;padding-left:1rem !important;padding-top: .5rem !important;;padding-bottom: .5rem !important;}.superpage_order .logistics_wrap .time_axis_wrap li:first-child
.express_title{color:#3d4145}.superpage_order .logistics_wrap .time_axis_wrap
li{position:relative;height:auto;border-left: .1rem solid #d9d9d9;padding-left: .9rem}.superpage_order .logistics_wrap .time_axis_wrap li:before{content:'';border: .15rem solid #d9d9d9;background-color:#d9d9d9;display:inline-block;width: .15rem;height: .15rem;border-radius:50%;margin-left:-1.17rem;margin-right: .5rem;position:absolute;top:0}.superpage_order .logistics_wrap .time_axis_wrap .active:before{border: .15rem solid #f00;background-color:#f00}.superpage_order .logistics_wrap .time_axis_wrap li:first-child .item-inner{padding-top:0}.superpage_order .logistics_wrap .time_axis_wrap li:last-child{border-left:0;margin-left: .1rem;padding-bottom:0}.superpage_comment
.comment_wrap{margin: .5rem 0}.superpage_comment .comment_wrap .img_wrap .font6.text-center.color-gray{padding-bottom: .5rem}.superpage_comment
.img_wrap{margin: .5rem 0;border-radius:0;box-shadow:0 .05rem .1rem rgba(0, 0, 0, 0)}.superpage_comment .img_wrap
.img_list{margin-left:0;padding-right:4%;padding-top: .5rem}.superpage_comment .img_wrap .img_list .col-33{position:relative;padding-bottom: .4rem}.superpage_comment .img_wrap .img_list .col-33
span{position:absolute;top:-.6rem;right:-.4rem;color:#f6383a}.superpage_comment .img_wrap
img{width:100%}.superpage_comment .img_wrap .card-content-inner
.button{display:inline-block;background-color:#999}.superpage_comment
.anonymous{padding:0
.5rem}.superpage_comment .anonymous
.button{display:inline-block;width:70%;margin-top: .5rem}.superpage_comment .commentcore_wrap .content-block{margin:0;padding:0}.superpage_comment .commentcore_wrap .content-block
.card{margin:0
0 .5rem;border-radius:0;box-shadow:0 0 0 rgba(0, 0, 0, 0)}.superpage_comment .commentcore_wrap
.star{padding: .5rem .5rem 0}.superpage_comment .commentcore_wrap
.avatar_wrap{display:inline-block}.superpage_comment .commentcore_wrap .avatar_wrap
img{vertical-align:middle;width:1.5rem;height:1.5rem;font-size:0;border-radius:50%}.superpage_comment .commentcore_wrap .card-content-inner{padding: .5rem}.superpage_comment .commentcore_wrap
.row{margin-left:0;padding-bottom: .5rem}.superpage_comment .commentcore_wrap .row .col-33{margin-top: .5rem}.superpage_comment .commentcore_wrap .row
img{width:90%;text-align:center;vertical-align:middle}.superpage_comment .commentcore_wrap
.showpic_wrap{background-color:#fff}.superpage_follow .list-block{margin: .5rem 0}.superpage_follow .item-media
img{width:4.7rem}.superpage_follow .item-inner .item-title{white-space:normal}.superpage_follow .item-inner .item-text{height:1rem}.superpage_follow .item-inner .item-text.color-gray{color:#999 !important}.superpage_follow .item-inner .item-text.color-warning{color:#f6383a !important}.superpage_refund
.card{margin: .5rem 0 0 0;border-radius:0;box-shadow:0 .05rem .1rem rgba(0, 0, 0, 0)}.superpage_refund .card
.row{margin-left:0}.superpage_refund .item-media
img{width:3.5rem}.superpage_refund .media-list ul>a{display:block}.superpage_refund .media-list .item-content .item-inner{padding-left: .5rem}.superpage_refund .buy_num, .superpage_refund .media-list .item-content .item-inner > span
a{display:inline-block}.superpage_refund
.item_wrap{margin: .5rem 0}.superpage_refund .item_wrap
img{width:4rem}.superpage_refund .item_wrap .item-content>.item-inner{padding-left:0}.superpage_refund .service_type
.button{display:inline-block}.superpage_refund
.row{padding:0
0 .5rem 0;margin-bottom: .5rem}.superpage_refund .row .col-100{padding-top: .5rem}.superpage_refund .service_type
span{padding-right: .5rem}.superpage_refund .buttons-row
.number{border-radius:0;width:2rem;text-align:center;margin-left:-1px;color:#999;position:relative;display:block;height:1rem;font-size: .7rem;line-height:1rem;border:1px
solid #999;padding-left:0}.superpage_refund .buttons-row
.button{padding:0
.2rem;line-height: .8rem;height:1rem;color:#999;border-color:#999}.superpage_refund
.btn_minus{border-top-left-radius: .2rem;border-bottom-left-radius: .2rem;width:1rem}.superpage_refund
.btn_plus{width:1rem}.superpage_refund .problem .item-content{padding-left:0}.superpage_refund .problem
.row{padding-bottom:0}.superpage_refund .problem .row .col-100:nth-child(2){padding-top:0}.superpage_refund .img_upload
a{display:block}.superpage_refund .img_upload a>div{width:3rem;height:3rem;border:1px
#ccc solid}.superpage_refund .img_upload a > div span:nth-child(2){display:block;line-height: .5rem}.superpage_refund .img_upload .img_list
img{padding: .5rem .5rem 0;width:100%}.superpage_refund .btn
.button{width:8rem;display:inline-block;margin-bottom: .5rem}.superpage_refund .progress_wrap .list-block, .superpage_refund .progress_wrap .content-block{margin: .5rem 0}.superpage_refund .progress_wrap
.img_item{margin-left:0;padding-left: .75rem}.superpage_refund .progress_wrap .img_item
img{width:100%;max-height:10rem}.superpage_refund .progress_wrap .problem
textarea{color:#000 !important}.superpage_refund .progress_detail_warp .list-block{margin: .5rem 0}.superpage_refund .progress_detail_warp
.remark{padding: .5rem 0}.superpage_browse .list-block{margin: .5rem 0}.superpage_browse .item-media
img{width:4.7rem}.superpage_browse .item-inner .item-title{white-space:normal}.superpage_browse .item-inner .item-text{height:1rem}.superpage_browse .item-inner .item-text.color-warning{color:#f6383a !important}.superpage_address
.address_wrap{margin: .5rem 0;box-shadow:0 .05rem .1rem rgba(0, 0, 0, 0);border-radius:0}.superpage_address .content-padded
.row{margin-bottom: .5rem}.superpage_address .list-block, .superpage_address .content-block{margin: .5rem 0}.superpage_my
.data_wrap{background-size:cover;height:9rem;overflow:hidden;position:relative}.superpage_my .data_wrap
.avatar_wrap{margin-left: .5rem;margin-top:2rem}.superpage_my .data_wrap .avatar_wrap
.avatar{border-radius:50%;width:3rem;height:3rem;overflow:hidden;border:1px
rgba(255,255,255,0.2) solid;display:inline-block}.superpage_my .data_wrap .avatar_wrap
.member_wrap{padding: .5rem 0 .5rem .5rem;color:#fff;line-height:1rem}.superpage_my .data_wrap .avatar_wrap .avatar
img{width:3rem}.superpage_my
.nav_wrap{position:absolute;width:100%;bottom:0;height:2.5rem;line-height:1rem;background:rgba(0,0,0,0.4)}.superpage_my .nav_wrap
.nav_list{display:inline-block;float:left;text-decoration:none;color:#FFF;width:50%;text-align:center;font-size: .8rem;height:2.5rem;padding-top: .3rem}.superpage_my .nav_wrap .nav_list>span{font-weight:bold;display:block;font-size: .7rem}.superpage_my
.order_item{padding: .5rem 0}.superpage_my .order_wrap .item-content>a{display:block;width:100%}.superpage_my .order_item .col-25
a{display:block}.superpage_my .order_item .col-25 a
div{position:relative}.superpage_my
.order_icon_wrap{display:inline-block;height:1.5rem;width:1.5rem}.superpage_my .order_item
.corner{position:absolute;width: .7rem;height: .7rem;line-height: .8rem;top:0;left: .9rem;background:#f00;color:#fff;text-align:center;border-radius:50%}.superpage_my .order_item
.cornerbig{position:absolute;width:1rem;height:1rem;line-height:1rem;top:-.2rem;left: .9rem;background:#f00;color:#fff;text-align:center;border-radius:50%}.superpage_my .order_item
.iconfont{font-size:1rem}.superpage_my .credit_wrap .item-content>a{display:block;width:100%}.superpage_my
.credit_item{padding: .5rem 0}.superpage_my .list-block{margin: .5rem 0}.superpage_my
.title_color{color:#6b6b6b}.superpage_my
.subtitle_color{color:#999}.superpage_my
.icon_order{color:rgba(246,209,49,.5)}.superpage_my
.icon_credit{color:rgba(9,189,159,.5)}.superpage_my
.icon_distribution{color:rgba(86,171,228,.5)}.superpage_my
.icon_sweep{color:rgba(16,174,255,.5)}.superpage_my
.icon_appointment{color:rgba(255,80,80,.5)}.superpage_my
.icon_cart{color:rgba(236,85,63,.5)}.superpage_my
.icon_address{color:rgba(17,205,110,.5)}.superpage_my
.icon_customer{color:rgba(234,128,16,.5)}.superpage_my
.icon_logout{color:rgba(255,107,107,.5)}.superpage_my
.icon_join{color:rgba(76,175,80,.5)}.superpage_my
.icon_partner{color:rgba(192,0,255,.5)}.superpage_list .item-media
img{width:4rem}.superpage_list
.active{color:#c40000}.superpage_list
.item_list_wrap{margin:0;box-shadow:0 .05rem .1rem rgba(0, 0, 0, 0);border-radius:0}.superpage_list .item_list_wrap .list-block ul > a, .superpage_list .item-inner .col-25
a{display:block}.superpage_list .item_list_wrap .list-block ul .item-inner.row.no-gutter.text-center{line-height:1.6rem}.superpage_list .item-title{white-space:normal}.superpage_list
.price_icon{font-size: .1rem}.superpage_list
.up_icon{transform:rotate(0deg);display:inline-block;-webkit-animation:fa-spin 2s infinite linear;animation:fa-spin 2s infinite linear}.superpage_list
.down_icon{transform:rotate(180deg);display:inline-block;-webkit-animation:fa-spin 2s infinite linear;animation:fa-spin 2s infinite linear}.superpage_list .two_list_style
.two_list_wrap{margin: .2rem;border-radius:0;box-shadow:0 0 0 0 rgba(0, 0, 0, 0)}.superpage_list .two_list_style .two_list_wrap .card-content-inner{padding: .2rem}.superpage_list .two_list_style .two_list_wrap .card-content-inner
.two_list_item{height:1.2rem;line-height:1.2rem}.superpage_list
.two_list_bg{background-color:#f7f7f8 !important}.superpage_list
.sales_wrap{height:1rem;line-height:1rem;position:absolute;bottom:0;right:0;background-color:rgba(0,0,0,.5);padding:0
.3rem;color:#fff}.superpage_list
.market_price_wrap{margin-left: .2rem}.superpage_list .price_line_height, .superpage_list
.cart_line_height{line-height:1.5rem}.list_style_noswitch{top:0;width:100%;padding-left:2rem}.list_style_noswitch
.searchbar{background:rgba(0, 0, 0, 0)}.superpage_list
.add_cart{border:0;color:#999;display:inline-block;padding:0}.superpage_service
.card{margin: .5rem 0;box-shadow:0 .05rem .1rem rgba(0, 0, 0, 0);border-radius:0;min-height:27rem}.superpage_service .card
p{margin:0;padding: .5rem}.superpage_confirm .list-block{margin:0
0 .5rem 0}.superpage_confirm .list-block .item-title
span{padding-right: .5rem}.superpage_confirm .item-media
img{width:3rem}.superpage_confirm .bar-footer{padding:0;background-color:rgba(0,0,0,.4)}.superpage_confirm .bar-footer
a{color:#fff;display:block}.superpage_confirm .bar>.row{height:2.2rem;line-height:2.2rem;color:#fff}.superpage_confirm .bar > .row .col-75{padding-left: .5rem}.superpage_confirm .bar > .row .col-25{background-color:#f00}.superpage_confirm
button{background-color:#f00;padding:0;border:0}.superpage_confirm .address_bg_wrap .col-100{background-repeat:repeat-x;height:4px}.superpage_confirm
.item_list_wrap{margin-bottom:0}.superpage_confirm .item_list_wrap
.shop_name_wrap{margin-left:0}.superpage_confirm .item_list_wrap ul:after, .superpage_confirm .item_list_wrap .item_attr_wrap:after{height:0}.superpage_confirm .dispatch_wrap:before{height:0}.superpage_confirm
.no_idcard_prompt{margin-bottom: .5rem}.superpage_confirm .dispatch_wrap .distribution_wrap:before{content:'';position:absolute;left:0;right:auto;top:0;height:1px;width:100%;background-color:#e7e7e7;display:block;z-index:15;-webkit-transform-origin:50% 100%;transform-origin:50% 100%}@media only screen and (-webkit-min-device-pixel-ratio: 2){.superpage_confirm .dispatch_wrap .distribution_wrap:before{-webkit-transform:scaleY(0.5);transform:scaleY(0.5)}}@media only screen and (-webkit-min-device-pixel-ratio: 3){.superpage_confirm .dispatch_wrap .distribution_wrap:before{-webkit-transform:scaleY(0.33);transform:scaleY(0.33)}}.superpage_confirm
.cash_switch{width:80% !important}.superpage_confirm
.idcard_title{width:20% !important}.express_type_wrap .list-block, .express_type_wrap  .content-block{margin: .5rem 0}.express_type_wrap .list-block .color-danger{color:#f6383a !important}.express_type_wrap .list-block .row.no-gutter{padding: .5rem .75rem}.superpage_confirm .full_dec
.button{display:inline-block}.superpage_pay .content-block-title{margin: .3rem .5rem}.superpage_pay
.prompt_wrap{padding-top: .5rem}.superpage_pay
.credit_ispay{padding-top: .5rem;padding-right:1rem}.superpage_pay .media-list
.wechat_pay{color:#09bb07}.superpage_pay .media-list
.credit_pay_icon{color:#ffc701}.superpage_pay
.available_credit_wrap{padding-right: .5rem;padding-top: .5rem}.superpage_pay
.credit_pay_wrap{margin-top: .5rem}.pay_more_mode .col-20{line-height:2.2rem;margin-left:0}.credit_pay_wrap .col-20{line-height:2.2rem;margin-left:0}.cash_pay_wrap{margin-top: .5rem !important}.pay_more_mode .col-20{width:0;height:0}.pay_more_mode
label{height:0 !important;line-height:0 !important;min-height:0 !important}.pay_more_mode .wx_pay, .pay_more_mode
.cash_pay{margin-top:1.5rem}.superpage_creditlog .list-block{margin: .5rem 0}.superpage_creditlog .item-title-row .color-danger{color:#f6383a !important}.superpage_creditlog .item-title-row
.creditlog_title{max-width:66%;white-space:normal}.superpage_recharge .list-block, .superpage_recharge .content-block{margin: .5rem 0}.superpage_recharge .list-block
.row{padding: .5rem}.superpage_seckill
.seckill_wrap{margin:0
0 .5rem 0;box-shadow:0 0.05rem 0.1rem rgba(0, 0, 0, 0)}.superpage_seckill
.seckill_nav_wrap{border-bottom:1px #e7e7e7 solid;margin:0;box-shadow:0 0.05rem 0.1rem rgba(0, 0, 0, 0)}.superpage_seckill .list_nav
.active{color:#f00}.superpage_seckill .list_nav .col-25{line-height: .8rem}.superpage_seckill .list_nav .col-25 a
span{display:block}.superpage_seckill .list_wrap .item-media
img{width:4.5rem}.superpage_seckill .list_wrap .item-title-row .item-title{white-space:normal}.superpage_seckill .list_wrap .item-subtitle .pull-left{line-height:1.35rem}.invite_modal_wrap{text-align:left}@media (min-width: 320px){.invite_modal_wrap .modal-text{height:270px}.invite_modal_wrap{margin-top:-200px !important}}@media (min-height: 568px){.invite_modal_wrap .modal-text{height:340px}.invite_modal_wrap{margin-top:-240px !important}}@media (min-width: 375px){.invite_modal_wrap .modal-text{height:400px}.invite_modal_wrap{width:16rem;margin-left:-8rem;margin-top:-260px !important}}@media (min-width: 414px){.invite_modal_wrap .modal-text{height:440px}.invite_modal_wrap{width:16rem;margin-left:-8rem;margin-top:-280px !important}}.invite_modal_wrap .modal-text{overflow-y:scroll;-webkit-overflow-scrolling:touch}.invite_modal_wrap .modal-text::-webkit-scrollbar{display:none}.invite_modal_wrap .modal-text ul, .invite_modal_wrap .modal-text
ol{padding-left:1rem}.superpage_mgroupon
.item_list_nav{margin:0;box-shadow:0 .05rem .1rem rgba(0, 0, 0, 0);border-radius:0;border-bottom:1px #e7e7e7 solid}.superpage_mgroupon
.superpage_mgroupon_rule{line-height:2.2rem;color:#999 !important}.superpage_mgroupon .item_list_nav
.active{color:#c40000}.superpage_mgroupon .item_list_nav .item-inner .col-25
a{display:block}.superpage_mgroupon .item_list_nav .list-block ul .item-inner.row.no-gutter.text-center{line-height:1.6rem}.superpage_mgroupon .item_list_nav
.up_icon{transform:rotate(0deg);display:inline-block;-webkit-animation:fa-spin 2s infinite linear;animation:fa-spin 2s infinite linear}.superpage_mgroupon
.item_list_wrap{margin:0
0 .5rem 0;box-shadow:0 .05rem .1rem rgba(0, 0, 0, 0);border-radius:0}.superpage_mgroupon .item_list_nav
.down_icon{transform:rotate(180deg);display:inline-block;-webkit-animation:fa-spin 2s infinite linear;animation:fa-spin 2s infinite linear}.superpage_mgroupon .item_list_wrap .item-title-row .item-title{white-space:normal}.superpage_mgroupon .item_list_wrap .item-media
img{width:4.2rem}.superpage_mgroupon .item_list_wrap
.order_num{display:block;width:100%}.superpage_mgroupon .item_list_wrap .item-inner .item-subtitle
.button{display:inline;padding:0
.2rem;height:1rem;line-height: .9rem}.superpage_mgroupon
.invite_wrap{margin:0
0 .5rem 0;box-shadow:0 .05rem .1rem rgba(0, 0, 0, 0);border-radius:0;min-height:7rem;padding-top:1.75rem;padding-bottom: .5rem}#share_tips{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0, 0, 0, 0.7);display:none;z-index:20000}#share_tips
img{position:fixed;right:18px;top:5px;width:260px!important;height:180px!important;z-index:20001}.superpage_mgroupon
.members_wrap{width:86%;min-height:4.5rem;background-color:#eee;margin:0
auto .5rem;border-radius: .5rem}.superpage_mgroupon .members_wrap
.inviter_avatar{display:inline-block;height:2.6rem;overflow:hidden;border-radius:50%;margin-top:-1.3rem;position:absolute;left:50%;margin-left:-1.3rem}.superpage_mgroupon .members_wrap .inviter_avatar
img{width:2.6rem}.superpage_mgroupon
.inviter_list_wrap{padding:2rem .5rem .5rem .5rem}.superpage_mgroupon .inviter_list_wrap
.avatar_wrap{width:2rem;height:2rem;border-radius:50%;overflow:hidden;display:inline-block;background-color:rgba(132,132,132, .5)}.superpage_mgroupon .inviter_list_wrap
.mgroupon_success{display:inline-block;height:3rem;overflow:hidden;border-radius:50%;margin-top:-3.3rem;position:absolute;left:80%;margin-left:-.5rem}.superpage_mgroupon .inviter_list_wrap .mgroupon_success
img{width:3rem}.superpage_mgroupon .inviter_list_wrap
img{width:2rem}.superpage_mgroupon .inviter_list_wrap .col-20{line-height: .75rem}.superpage_mgroupon .inviter_list_wrap .col-20
span{display:block}.superpage_mgroupon
.inviter_btn{padding: .5rem}.superpage_mgroupon_rule_conetnt .content-block{margin: .5rem 0}.superpage_mgroupon .mgroupon_list_wrap
.mgroupon_success{display:inline-block;height:3rem;overflow:hidden;border-radius:50%;margin-top:0;position:absolute;right:0;margin-right: .5rem;z-index:1}.superpage_mgroupon .mgroupon_list_wrap .mgroupon_success
img{width:3rem}.superpage_mgroupon .mgroupon_list_wrap
.card{margin: .5rem 0;box-shadow:0 0.05rem 0.1rem rgba(0, 0, 0, 0);border-radius:0}.superpage_mgroupon .mgroupon_list_wrap .card-header{padding:0}.superpage_mgroupon .mgroupon_list_wrap .card-header .list-block
a{width:100%}.superpage_mgroupon .mgroupon_list_wrap .list-block{width:100%}.superpage_mgroupon .mgroupon_list_wrap .card-header
.avatar_wrap{width:2rem;height:2rem;border-radius:50%;display:inline-block;overflow:hidden}.superpage_mgroupon .mgroupon_list_wrap .item-media
img{width:2rem}.superpage_mgroupon .mgroupon_list_wrap .card-content
a{display:block}.superpage_mgroupon .mgroupon_list_wrap .card-content-inner{padding-bottom: .4rem}.superpage_mgroupon .mgroupon_list_wrap .card-content
.avatar_wrap{width:1.8rem;height:1.8rem;border-radius:50%;display:inline-block;overflow:hidden;background-color:rgba(132,132,132, .5)}.superpage_mgroupon .mgroupon_list_wrap .card-content-inner
img{width:1.8rem}.superpage_mgroupon .mgroupon_list_wrap .card-content-inner
.avatar{width:16.666666%;margin:0
0 .2rem 0;box-sizing:border-box;float:left;line-height: .8rem}.superpage_mgroupon .mgroupon_list_wrap .card-content-inner .avatar>span{display:block}.superpage_mgroupon .mgroupon_list_wrap .col-20
span{display:block}.superpage_mgroupon .mgroupon_list_wrap .card-footer
a{display:block;width:100%}.superpage_mgroupon .two_list_style
.two_list_wrap{margin: .2rem;border-radius:0;box-shadow:0 0 0 0 rgba(0, 0, 0, 0)}.superpage_mgroupon .two_list_style .two_list_wrap .card-content-inner{padding: .2rem}.superpage_mgroupon .two_list_style .two_list_wrap .card-content-inner
.two_list_item{height:1.2rem;line-height:1.2rem}.superpage_mgroupon
.two_list_bg{background-color:#f7f7f8 !important}.superpage_mgroupon
.sales_wrap{height:1rem;line-height:1rem;position:absolute;bottom:0;right:0;background-color:rgba(0,0,0,.5);padding:0
.3rem;color:#fff}.superpage_mgroupon
.market_price_wrap{margin-left: .2rem}.superpage_mgroupon .two_list_style
.mgroupon_btn{display:inline;padding: .1rem .2rem}.superpage_checkout
.card{margin: .5rem 0 0 0;border-radius:0;box-shadow:0 .05rem .1rem rgba(0, 0, 0, 0)}.superpage_checkout
.avatar_wrap{font-size:0;margin: .5rem auto}.superpage_checkout .avatar_wrap
span{display:block}.superpage_checkout .avatar_wrap
.avatar{border-radius:50%;width:3rem;height:3rem;overflow:hidden;border:1px
rgba(255,255,255,0.2) solid;display:inline-block}.superpage_checkout .avatar_wrap .avatar
img{width:3rem}.superpage_checkout .item_list_wrap .item-media
img{width:4.2rem}.superpage_checkout
.remark_wrap{margin-bottom: .5rem}.superpage_checkout .content-block.btn{margin: .5rem auto}.superpage_checkout .content-block
span{display:block;padding-top: .2rem}.superpage_shop{}.superpage_shop .list-block{margin: .5rem 0}.superpage_shop .superpage_shop_reg .item-title.label{width:21%}.superpage_shop
.btn_verify{width:5.5rem;padding:0
0.2rem}.superpage_shop
.register_prompt{padding-left: .5rem}.superpage_shop
.agreement_wrap{margin-top: .5rem;padding-right: .5rem}.superpage_shop
.item_list_wrap{margin:0;box-shadow:0 .05rem .1rem rgba(0, 0, 0, 0);border-radius:0}.superpage_shop .nodata, .superpage_shop .infinite-scroll-preloader{margin-bottom:2.5rem}.superpage_shop .shop_display
.shop_swiper_warp{padding-bottom:0}.superpage_shop .shop_display .shop_swiper_warp
img{height:178px;width:100%}.superpage_shop .shop_display
.shop_description_wrap{margin-top:0}.superpage_shop .shop_display .shop_description_wrap a, .superpage_shop .shop_display .shop_contact a, .superpage_shop .shop_display .shop_discount_wrap
a{padding-left: .5rem}.superpage_shop .shop_display .shop_description_wrap .item-inner{margin-left: .5rem;padding-right: .5rem}.superpage_shop .shop_display .shop_discount_wrap
.button{display:inline;padding:0
.2rem;margin-right: .1rem}.superpage_shop .item-media
img{width:4rem}.superpage_shop .item-title{white-space:normal}.superpage_shop .shop_display
.seckill_list_wrap{padding-left: .5rem;margin-left:0}.superpage_shop .shop_display .seckill_list_wrap .swiper-container{padding-bottom:0}.superpage_shop .shop_display
.seckill{background-color:#fff;margin: .5rem 0 0 0}.superpage_shop .shop_display .seckill
.seckill_name{color:#ff461f}.superpage_shop .shop_display .seckill .item-link .item-inner{padding-left: .5rem;display:block}.superpage_shop .shop_display
.seckill_countdown{display:inline-block}.superpage_shop .shop_display .seckill_countdown
span{border:1px
#ccc solid;padding:1px}.superpage_shop .shop_display
.seckill_more{line-height:1.4rem;display:inline-block}.superpage_shop .shop_display
.seckill_img{position:relative}.superpage_shop .shop_display .seckill_img
span{position:absolute;bottom:0;right:0;color:#fff;background:rgba(0,0,0, .5);padding:0
.1rem}.superpage_shop .shop_display .seckill
.row{padding: .5rem .5rem 0}.superpage_shop .shop_display .seckill .row
img{width:100%}.superpage_shop .shop_display .seckill .row
a{display:block}.superpage_shop .shop_display .seckill .row
span{display:block;text-align:center;line-height: .7rem;padding-top: .2rem}.superpage_shop .shop_display .seckill
.old_price{padding-bottom: .4rem;text-decoration:line-through}.superpage_shop .shop_display
.mgroupon_list_wrap{padding-left: .5rem;margin-left:0}.superpage_shop .shop_display .mgroupon_list_wrap .swiper-container{padding-bottom:0}.superpage_shop .shop_display
.mgroupon{background-color:#fff;margin: .5rem 0 0 0}.superpage_shop .shop_display .mgroupon
.mgroupon_name{color:#ff461f}.superpage_shop .shop_display .mgroupon .item-link .item-inner{padding-left: .5rem;display:block}.superpage_shop .shop_display
.mgroupon_more{line-height:1.4rem;display:inline-block}.superpage_shop .shop_display
.mgroupon_img{position:relative}.superpage_shop .shop_display .mgroupon_img
span{position:absolute;bottom:0;right:0;color:#fff;background:rgba(0,0,0, .5);padding:0
.1rem}.superpage_shop .shop_display .mgroupon
.row{padding: .5rem .5rem 0}.superpage_shop .shop_display .mgroupon .row
img{width:100%}.superpage_shop .shop_display .mgroupon .row
a{display:block}.superpage_shop .shop_display .mgroupon .row
span{display:block;text-align:center;line-height: .7rem;padding-top: .2rem}.superpage_shop .shop_display .mgroupon
.old_price{padding-bottom: .4rem;text-decoration:line-through}.superpage_shop .two_list_style
.two_list_wrap{margin: .2rem;border-radius:0;box-shadow:0 0 0 0 rgba(0, 0, 0, 0)}.superpage_shop .two_list_style .two_list_wrap .card-content-inner{padding: .2rem}.superpage_shop .two_list_style .two_list_wrap .card-content-inner
.two_list_item{height:1.2rem;line-height:1.2rem}.superpage_shop
.two_list_bg{background-color:#f7f7f8 !important}.superpage_shop
.sales_wrap{height:1rem;line-height:1rem;position:absolute;bottom:0;right:0;background-color:rgba(0,0,0,.5);padding:0
.3rem;color:#fff}.superpage_shop
.market_price_wrap{margin-left: .2rem}.superpage_shop
.activity_time{white-space:normal}.superpage_shop
.add_cart{border:0;color:#999;display:inline-block;padding:0}.superpage_shop .shop_list_wrap .list-block.media-list .item-media{padding-bottom: .45rem}.superpage_shop
.shop_list_wrap{margin:0;box-shadow:0 .05rem .1rem rgba(0, 0, 0, 0);border-radius:0}.superpage_shop .shop_list_wrap .list-block{margin:0}.superpage_shop .shop_list_wrap
.shop_avatar{width:4rem}.superpage_shop .shop_list_wrap
.distance{color:#999}.superpage_shop .shop_list_wrap .list-block .item-inner{margin-left: .5rem;padding-right: .5rem}.superpage_shop .shop_list_order .item-content{padding-left:0}.superpage_shop .shop_list_wrap .list-block ul li>a{padding-left: .5rem}.superpage_shop .shop_list_wrap .shop_list_order .item-content .item-inner{margin-left:0}.superpage_shop .shop_list_wrap .shop_list_order .item-content .item-inner:after{height:0}.superpage_shop .shop_list_wrap .shop_list_order .item-content .item-inner
.active{color:#c40000}.superpage_shop .shop_list_wrap
.shop_discount_wrap{margin-bottom: .3rem}.superpage_shop .shop_list_wrap
.shop_discount_row{padding-left: .5rem}.superpage_shop .shop_list_wrap .shop_discount_row
.button{display:inline;padding:0
.2rem;margin-right: .1rem}.superpage_shop .shop_list_wrap
.shop_title{line-height:1.8rem}.superpage_shop .shop_list_wrap
.show_more_activity{display:none}.superpage_shop .shop_list_wrap .shop_info .item-inner:after{height:0}.superpage_shop .shop_list_wrap .shop_info:before{content:'';position:absolute;left:0;right:auto;top:0;height:1px;width:100%;background-color:#e7e7e7;display:block;z-index:15;-webkit-transform-origin:50% 100%;transform-origin:50% 100%}@media only screen and (-webkit-min-device-pixel-ratio: 2){.superpage_shop .shop_list_wrap .shop_info:before{-webkit-transform:scaleY(0.5);transform:scaleY(0.5)}}@media only screen and (-webkit-min-device-pixel-ratio: 3){.superpage_shop .shop_list_wrap .shop_info:before{-webkit-transform:scaleY(0.33);transform:scaleY(0.33)}}.superpage_shop
.list_search_style{width:90%}.superpage_openid{}.superpage_openid
.weui_msg{padding-top:0}.superpage_openid .weui_msg
.weui_icon_area{background-color:#fff;padding:1rem 0}.superpage_openid .weui_msg .weui_icon_area
span{display:block}.superpage_openid .weui_msg .weui_icon_area
img{width:3.5rem;height:3.5rem;border-radius:50%}.superpage_openid .weui_msg
.weui_icon_area{margin-bottom:2rem}.superpage_openid .weui_msg
.weui_msg_desc{margin:0
!important}.superpage_openid .weui_msg
.weui_msg_title{margin-bottom:2px}.superpage_openid .weui_msg
.weui_text_area{margin-bottom:2rem}.login_qrcode_msg{margin-top:5rem}.superpage_partner .partner_home ,
.superpage_partner .partner_getcash_display,
.superpage_partner .partner_invite,
.superpage_partner .partner_order,
.superpage_partner .partner_poster,
.superpage_partner .partner_ranking,
.superpage_partner .partner_reg,
.superpage_partner
.partner_team{margin-bottom:2.5rem}.superpage_partner .partner_reg
.btn_verify{width:5.5rem;padding:0
0.2rem}.superpage_partner .partner_reg
.reg_banner{line-height:0}.superpage_partner .partner_reg .reg_banner
img{max-height:10rem;width:100%}.superpage_partner .partner_reg
.reg_input_wrap{margin: .5rem 0}.superpage_partner .partner_reg .reg_input_wrap .item-title.label{width:20%}.superpage_partner .partner_reg
.invite_info_wrap{margin:0
0 .5rem 0;box-shadow:0 .05rem .1rem rgba(0, 0, 0, 0);border-radius:0;min-height:7rem;padding-top:1rem;padding-bottom: .5rem}.superpage_partner .partner_reg .invite_info_wrap
.username{text-align:center;margin-top:2.6rem;display:block}.superpage_partner .partner_reg .invite_info_wrap
.inviter_avatar{display:inline-block;height:2.6rem;overflow:hidden;border-radius:50%;position:absolute;left:50%;margin-left:-1.3rem}.superpage_partner .partner_reg .invite_info_wrap .inviter_avatar
img{width:2.6rem}.superpage_partner .partner_reg .invite_info_wrap
.invite_info_content{padding:0
.5rem}.superpage_partner .partner_reg
.consumer_info_wrap{margin:0
0 .5rem 0;box-shadow:0 .05rem .1rem rgba(0, 0, 0, 0);border-radius:0;padding: .5rem}.superpage_partner .partner_reg
.btn_shopping{margin-left:0;margin-right:4%}.superpage_partner .partner_home .list-block .item-link.item-content{padding-left:0}.superpage_partner .partner_home .list-block .item-link.item-content .item-title-row{padding-left:0.75rem}.superpage_partner .partner_home .list-block{margin:0
0 .5rem 0}.superpage_partner .partner_home
.profit_num{height:5rem;line-height:5rem}.superpage_partner .partner_home
.nine_grids_wrap{background-color:#fff}.superpage_partner .partner_home
.weui_grid{padding:10px}.superpage_partner .partner_home .weui_grids .weui_grid
.weui_grid_icon{width:40px;height:40px;text-align:center}.superpage_partner .partner_home .weui_grids .weui_grid .weui_grid_icon
.iconfont{font-size:1.4rem !important}.superpage_partner .partner_team
.myteam_info_wrap{padding-top:1rem;padding-bottom:1rem}.superpage_partner .partner_team .myteam_info_wrap
.myteam_info_list{width:33%}.superpage_partner .partner_team .list-block{margin:0
0 .5rem 0}.superpage_partner .partner_team
.invite_members_num{padding-top:1.2rem}.superpage_partner .partner_team
.orders_num{padding-top:1.2rem}.superpage_partner .partner_team
.myavatar{border-radius:50%;width:3rem;height:3rem;overflow:hidden;border:1px
rgba(255,255,255,0.2) solid;display:inline-block}.superpage_partner .partner_team .myavatar
img{width:3rem}.superpage_partner .partner_team .user_avatar
img{width:2.6rem;height:2.6rem;border-radius:50%}.superpage_partner .partner_team
.user_info{margin-left: .3rem}.superpage_partner .partner_team .user_info .item-title-row{line-height:1.3rem}.superpage_partner .partner_team .user_info .item-title-row .font6.color-gray{width:60%}.superpage_partner .partner_team .user_info
.invite_member_info{color:#999}.superpage_partner .partner_invite
.card{margin:2rem 2rem .5rem 2rem;box-shadow:0 .05rem .1rem rgba(0, 0, 0, 0);border-radius: .5rem;padding:2rem}.superpage_partner .partner_invite .card
.qrcode{width:100%}.superpage_partner .partner_invite
.inviter_avatar{display:inline-block;height:3rem;overflow:hidden;border-radius:50%;margin-top: .5rem;position:absolute;left:50%;margin-left:-1.3rem;z-index:1}.superpage_partner .partner_invite .inviter_avatar
img{width:3rem}.superpage_partner .partner_ranking .content-block{margin:0;padding:0}.superpage_partner .partner_ranking
.ranking_banner{line-height:0}.superpage_partner .partner_ranking .ranking_banner
img{max-height:10rem;width:100%}.superpage_partner .partner_ranking
.card{margin:0;box-shadow:0 .05rem .1rem rgba(0, 0, 0, 0);border-radius:0;padding:0}.superpage_partner .partner_ranking
.rankingt_avatar{width:2rem;height:2rem;border-radius:50%;vertical-align:middle}.superpage_partner .partner_ranking .ranking_num
span{display:inline-block;min-width:1.2rem;height:1.2rem;line-height:1.2rem;background:#f00;color:#fff;text-align:center;border-radius:50%}.superpage_partner .partner_ranking .ranking_num_1
.iconfont{color:rgb(242,192,86)}.superpage_partner .partner_ranking .ranking_num_3
.iconfont{color:rgb(186,110,64)}.superpage_partner .partner_order .list-block{margin:0
0 .5rem 0}.superpage_partner .partner_getcash_display .list-block{margin:0
0 .5rem 0}.superpage_partner .partner_getcash_apply .list-block{margin:0
0 .5rem 0}.superpage_partner .partner_getcash_apply
.myavatar{width:1.5rem;height:1.5rem;border-radius:50%;vertical-align:middle}.superpage_partner .partner_getcash_apply
.weui_extra_area{bottom:3rem}.superpage_partner
.prompt_info_wrap{margin-top:7rem}.superpage_partner
.partner_poster{background-color:#333}.superpage_partner .partner_poster
.poster_wrap{margin:0
20px}.superpage_partner .partner_poster
.poster{max-width:100%;border-radius:4px}